<ul class="health-items" *ngIf="displayFilter=='social'">
    <li *ngFor="let socialConcern of socialConcerns$ | async">
        <div class="health-item">
            <h3 class="health-title">{{ socialConcern.name }}</h3>
            <ul>
                <li *ngIf="socialConcern.data">
                    <label>Data:</label> {{socialConcern.data}}
                </li>
                <li *ngIf="socialConcern.date">
                    <label>Date:</label> {{socialConcern.date}}
                </li>
                <li *ngIf="socialConcern.description">
                    <label>Description:</label> {{socialConcern.description}}
                </li>
            </ul>
        </div>
    </li>
</ul>