ul.health-items {
    list-style-type: none;
    padding: 0;

    > li {
        background-color: #f1f9ff;
        position: relative;
        float: left;
        clear: both;
        width: 100%;
        margin-bottom: 20px;

        > div {
            padding: 15px;
            padding-top: 12px;

            h3 {
                margin: 0;
                font-size: 1em;
            }

            > ul {
                padding-left: 0px;
                list-style-type: none;

                li {
                    label {
                        font-weight: 500;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}
