<ul class="health-items">
    <li>
        <div class="health-item">
            <h3 class="health-title">Dyslipidemia</h3>
            <span class="health-details-1"></span>
            <span class="health-details health-details-2">Summary Status / Progress / Next target</span>
            <span class="health-details health-details-3"></span>
        </div>
    </li>
    <li>
        <div class="health-item">
            <h3 class="health-title">Type 2 Diabetes</h3>
            <span class="health-details-1">Last Change: Sept 24, 2020</span>
            <span class="health-details health-details-2">Summary: Status</span>
            <span class="health-details health-details-3">Progress / Next target</span>
        </div>
    </li>
</ul>