ul.interventions-items {
    list-style-type: none;
    padding: 0;

    > li {
        background-color: #f1f9ff;
        position: relative;
        float: left;
        clear: both;
        width: 100%;
        margin-bottom: 20px;

        h3 {
            margin: 0;
            font-size: 1em;
            padding-bottom: 5px;
        }

        .interventions-item {
            padding: 15px;
            padding-top: 12px;

            > ul {
                padding-left: 20px;
                list-style: disc;

                li { 
                    label { 
                        font-weight: 500;
                        text-decoration: underline;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}
