<ul class="interventions-items" *ngIf="displayFilter=='maintenance'">
    <li *ngFor="let medication of medications$ | async">
        <div class="interventions-item">
            <h3 class="interventions-title">{{ medication.medication | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="medication.dosages">
                    <label>Dosages:</label>
                    <span>
                        {{ medication.dosages }}
                    </span>
                </li>
                <li *ngIf="medication.reasons">
                    <label>Reasons:</label>
                    <span>
                        {{ medication.reasons }}
                    </span>
                </li>
                <li *ngIf="medication.requestedBy">
                    <label>Requested By:</label>
                    <span>
                        {{ medication.requestedBy }}
                    </span>
                </li>
                <li *ngIf="medication.status">
                    <label>Status:</label>
                    <span>
                        {{ medication.status | titlecase }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
</ul>
<ul class="interventions-items" *ngIf="displayFilter=='interventions'">
    <li *ngFor="let education of educationSummaries$ | async">
        <div class="interventions-item">
            <h3 class="interventions-title">{{ education.topic | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="education.type">
                    <label>Type:</label>
                    <span>
                        {{ education.type }}
                    </span>
                </li>
                <li *ngIf="education.displayDate">
                    <label>Date:</label>
                    <span>
                        {{ education.displayDate }}
                    </span>
                </li>
                <li *ngIf="education.status">
                    <label>Status:</label>
                    <span>
                        {{ education.status | titlecase }}
                    </span>
                </li>
                <li *ngIf="education.outcome">
                    <label>Outcome:</label>
                    <span>
                        {{ education.outcome }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <li *ngFor="let education of educationSummaries$ | async">
        <div class="interventions-item">
            <h3 class="interventions-title">{{ education.topic | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="education.type">
                    <label>Type:</label>
                    <span>
                        {{ education.type }}
                    </span>
                </li>
                <li *ngIf="education.displayDate">
                    <label>Date:</label>
                    <span>
                        {{ education.displayDate }}
                    </span>
                </li>
                <li *ngIf="education.status">
                    <label>Status:</label>
                    <span>
                        {{ education.status | titlecase }}
                    </span>
                </li>
                <li *ngIf="education.outcome">
                    <label>Outcome:</label>
                    <span>
                        {{ education.outcome }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <li *ngFor="let referral of referralSummaries$ | async">
        <div class="interventions-item">
            <h3 class="interventions-title">{{ referral.topic | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="referral.type">
                    <label>Type:</label>
                    <span>
                        {{ referral.type }}
                    </span>
                </li>
                <li *ngIf="referral.displayDate">
                    <label>Date:</label>
                    <span>
                        {{ referral.displayDate }}
                    </span>
                </li>
                <li *ngIf="referral.status">
                    <label>Status:</label>
                    <span>
                        {{ referral.status | titlecase }}
                    </span>
                </li>
                <li *ngIf="referral.outcome">
                    <label>Outcome:</label>
                    <span>
                        {{ referral.outcome }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
</ul>