<ul class="interventions-items" *ngIf="displayFilter=='maintenance'">
    <li *ngFor="let medication of medications$ | async">
        <div class="interventions-item">
            <h3 class="interventions-title">{{ medication.medication | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="medication.dosages">
                    <label>Dosages:</label>
                    <span>
                        {{ medication.dosages }}
                    </span>
                </li>
                <li *ngIf="medication.reasons">
                    <label>Reasons:</label>
                    <span>
                        {{ medication.reasons }}
                    </span>
                </li>
                <li *ngIf="medication.requestedBy">
                    <label>Requested By:</label>
                    <span>
                        {{ medication.requestedBy }}
                    </span>
                </li>
                <li *ngIf="medication.status">
                    <label>Status:</label>
                    <span>
                        {{ medication.status | titlecase }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
</ul>
<ul class="interventions-items" *ngIf="displayFilter=='interventions'">
    <h4 *ngIf="(educationSummaries$ | async).length > 0">Education</h4>
    <li *ngFor="let education of (educationSummaries$ | async)">
        <div class="interventions-item">
            <h3 class="interventions-title" *ngIf="education.topic">{{ education.topic.text | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="education.displayDate">
                    <label>Date:</label>
                    <span>
                        {{ education.displayDate | date }}
                    </span>
                </li>
                <li *ngIf="education.performer">
                    <label>Performer:</label>
                    <span>
                        {{ education.performer }}
                    </span>
                </li>
                <li *ngIf="education.reasons">
                    <label>Reason:</label>
                    <span>
                        {{ education.reasons }}
                    </span>
                </li>
                <li *ngIf="education.outcome">
                    <label>Outcome:</label>
                    <span>
                        {{ education.outcome.text | titlecase }}
                    </span>
                </li>
                <li *ngIf="education.status">
                    <label>Status:</label>
                    <span>
                        {{ education.status | titlecase }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <h4 *ngIf="(counselingSummaries$ | async).length > 0">Counseling</h4>
    <li *ngFor="let counseling of counselingSummaries$ | async">
        <div class="interventions-item">
            <h3 class="interventions-title">{{ counseling.topic.text | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="counseling.displayDate">
                    <label>Date:</label>
                    <span>
                        {{ counseling.displayDate | date }}
                    </span>
                </li>
                <li *ngIf="counseling.performer">
                    <label>Performer:</label>
                    <span>
                        {{ counseling.performer | titlecase }}
                    </span>
                </li>
                <li *ngIf="counseling.reasons">
                    <label>Reason:</label>
                    <span>
                        {{ counseling.reasons | titlecase }}
                    </span>
                </li>
                <li *ngIf="counseling.outcome">
                    <label>Outcome:</label>
                    <span>
                        {{ counseling.outcome.text }}
                    </span>
                </li>
                <li *ngIf="counseling.status">
                    <label>Status:</label>
                    <span>
                        {{ counseling.status | titlecase }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <h4>Referrals</h4>
    <li *ngFor="let referral of referralSummaries$ | async">
        <div class="interventions-item">
            <h3 *ngIf="referral.purpose.text" class="interventions-title">{{ referral.purpose.text | titlecase }}</h3>
            <hr />
            <ul>
                <li *ngIf="referral.referrer">
                    <label>Referring Clinician:</label>
                    <span>
                        {{ referral.referrer }}
                    </span>
                </li>
                <li *ngIf="referral.receiver">
                    <label>Receiving Clinician:</label>
                    <span>
                        {{ referral.receiver }}
                    </span>
                </li>
                <li *ngIf="referral.date && referral.date.dateTimeValue">
                    <label>Date:</label>
                    <span>
                        {{ referral.date.dateTimeValue.rawDate | date }}
                    </span>
                </li>
                <li *ngIf="referral.status">
                    <label>Status:</label>
                    <span>
                        {{ referral.status | titlecase }}
                    </span>
                </li>
            </ul>
        </div>
    </li>
</ul>