.interventions-container {
    .interventions-header {
        position: relative;
        text-align: center;
        font-size: 0.9em;

        h2 {
            margin-bottom: 10px;
        }

        .interventions-title-icon {
            height: 25px;
            margin-bottom: -4px;
        }
    }
}
