<div class="lab-graph">
    <div class="lab-graph-header">
        <h2>{{title}}</h2>
        <h4>{{description}}</h4>
        <img class="back-arrow" src="../../../assets/svg/arrow_back_blue.svg" onclick="window.history.back()" />
        <img class="info" src="../../../assets/svg/info_blue.svg" />
    </div>
    <div [ngSwitch]="key">
        <bp-graph *ngSwitchCase="'bp'"></bp-graph>
        <egfr-graph *ngSwitchCase="'egfr'"></egfr-graph>
        <uacr-graph *ngSwitchCase="'uacr'"></uacr-graph>
        <weight-graph *ngSwitchCase="'weight'"></weight-graph>
    </div>
</div>