<div class="lab-graph">
    <div class="lab-graph-header">
        <h2>{{title}}</h2>
        <h4>{{description}}</h4>
        <img class="back-arrow" src="../../../assets/svg/arrow_back_blue.svg" onclick="window.history.back()"/>
        <img class="info" src="../../../assets/svg/info_blue.svg"/>
    </div>
    <div class="lab-graph-chart">
        <canvas baseChart height="200" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>