<div class="lab-graph">
    <div class="lab-graph-header">
        <h2>{{title}}</h2>
        <h4>{{description}}</h4>
        <img class="back-arrow" src="../../../assets/svg/arrow_back_blue.svg" onclick="window.history.back()" />
        <img class="info" src="../../../assets/svg/info_blue.svg" />
    </div>
    <bp-graph *ngIf="key==='bp'"></bp-graph>
    <egfr-graph *ngIf="key==='egfr'"></egfr-graph>
    <uacr-graph *ngIf="key==='uacr'"></uacr-graph>
    <weight-graph *ngIf="key==='weight'"></weight-graph>
</div>