.lab-graph-chart {
    position: relative;
    canvas {
        width: 100% !important;
        min-height: 200px;
    }
}
.alt {
    position: relative;
    border: 1px solid #000000;
    padding: 5px;
    position: relative;
    margin-bottom: 25px;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

select {
    width: 100%;
    margin: 10px 0;
}