<div class="lab-graph-chart" [ngClass]="{'alt': !embedded}">
    <canvas baseChart [datasets]="egfrService.egfr.chartData" [labels]="lineChartLabels"
        [options]="egfrService.egfr.lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
        [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>
</div>
<div class="lab-graph-table" [ngClass]="{'hidden':  !(showTable && tableReady)}">
    <table mat-table matSort [dataSource]="tableDataSource" width="100%">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Date</th>
            <td mat-cell *matCellDef="let egfr"> {{egfr.date | date: 'MM/dd/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="result">Result</th>
            <td mat-cell *matCellDef="let egfr" [innerHTML]="EgfrResult(egfr)"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons
        [ngClass]="{'hidden':  !(tableDataSource && tableDataSource.filteredData && tableDataSource.filteredData.length > 5)}"></mat-paginator>
</div>