.lab-graph-chart {
    position: relative;
    canvas {
        width: 100% !important;
    }
}
.alt {
    position: relative;
    border: 1px solid #000000;
    padding: 5px;
    position: relative;
    margin-bottom: 25px;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

select {
    width: 100%;
    margin: 10px 0;
}

tr.mat-row.resultGood {
    background-color: rgba(128, 204, 113, 0.3);
}

tr.mat-row.resultBorderline {
    background-color: rgba(247, 245, 116, 0.3);
}

tr.mat-row.resultCritical {
    background-color: rgba(227, 127, 104, 0.3);
}