<div class="vital-signs-container">
    <div class="vital-signs-header">
        <h2>
            <img class="vital-signs-title-icon" src="../../../assets/svg/stethscope.svg">
            Vital Signs
        </h2>
        <img class="back-arrow" src="../../../assets/svg/arrow_back_blue.svg" routerLink="/status"
            queryParamsHandling="merge" />
    </div>
    <ul class="vital-sign-items">
        <li *ngFor="let res of results" (click)="navToGraph(res)">
            <div class="vital-sign-item">
                <h3 class="vital-sign-title">{{res.name}}</h3>
                <span class="vital-sign-details vital-sign-details-2">{{res.date}}</span>
                <span class="vital-sign-details vital-sign-details-3">{{res.value}}</span>
            </div>
            <span class="vital-sign-more-icon" *ngIf="res.value !== 'No Data Available'">&gt;</span>
        </li>
    </ul>
</div>