<div class="vital-signs-container">
    <div class="vital-signs-header">
        <h2>
            <img class="vital-signs-title-icon" src="../../../assets/svg/stethscope.svg">
            Vital Signs
        </h2>
        <img class="back-arrow" src="../../../assets/svg/arrow_back_blue.svg" routerLink="/status"
            queryParamsHandling="merge" />
    </div>
    <ul class="vital-sign-items">
        <li *ngFor="let res of results" (click)="navToGraph(res)">
            <div *ngIf="res.code" class="vital-sign-item">
                <h3 class="vital-sign-title">{{res.key}}</h3>
                <span class="vital-sign-details vital-sign-details-2">{{res.effective.dateTime.date | date}}</span>
                <span class="vital-sign-details vital-sign-details-3"
                    *ngIf="res.value && res.value.quantityValue">{{res.value.quantityValue.value + " " +
                    (res.value.quantityValue.unit ? res.value.quantityValue.unit : "")}}</span>
            </div>
            <span class="vital-sign-more-icon">&gt;</span>
        </li>
    </ul>
</div>