<div class="vital-signs-container">
    <div class="vital-signs-header">
        <h2>
            <img class="vital-signs-title-icon" src="../../../assets/svg/stethscope.svg">
            Vital Signs
        </h2>
        <img class="back-arrow" src="../../../assets/svg/arrow_back_blue.svg" onclick="window.history.back()" />
    </div>
    <ul class="vital-sign-items">
        <li routerLink="/lab-graph" queryParamsHandling="merge">
            <div class="vital-sign-item">
                <h3 class="vital-sign-title">Blood Pressure</h3>
                <span class="vital-sign-details-1"></span>
                <span class="vital-sign-details vital-sign-details-2">December 12, 2018</span>
                <span class="vital-sign-details vital-sign-details-3"></span>
            </div>
            <span class="vital-sign-more-icon">&gt;</span>
        </li>
        <li routerLink="/lab-graph" queryParamsHandling="merge">
            <div class="vital-sign-item">
                <h3 class="vital-sign-title">Weight</h3>
                <span class="vital-sign-details-1"></span>
                <span class="vital-sign-details vital-sign-details-2">January 03, 2019</span>
                <span class="vital-sign-details vital-sign-details-3"></span>
            </div>
            <span class="vital-sign-more-icon">&gt;</span>
        </li>
    </ul>
</div>