<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav role="navigation" mode="push">
        <app-sidenav (sideNavClosed)="sidenav.close()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">
        <div class="header">
            <div class="patient-info-header" *ngIf="subjectInfo">
                <div class="name" *ngIf="subjectInfo.name">
                    <label>Name</label>
                    <div>{{ subjectInfo.name }}</div>
                </div>
                <div class="age" *ngIf="subjectInfo.age">
                    <label>Age</label>
                    <div> {{ subjectInfo.age}}</div>
                </div>
                <div class="gender" *ngIf="subjectInfo.gender">
                    <label>Gender</label>
                    <div> {{ subjectInfo.gender }}</div>
                </div>
                <div class="race" *ngIf="subjectInfo.race">
                    <label>Race</label>
                    <div> {{ subjectInfo.race}}</div>
                </div>
                <div class="ethnicity" *ngIf="subjectInfo.ethnicity">
                    <label>Ethnicity</label>
                    <div> {{ subjectInfo.ethnicity }}</div>
                </div>
            </div>
            <app-header-mobile>
            </app-header-mobile>
        </div>
        <main class="container mat-app-background">
            <router-outlet></router-outlet>
        </main>
        <footer class="footer" (sidenavToggle)="sidenav.toggle()" *ngIf="showFooter()">
            <mat-toolbar class="footer" color="background">
                <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-button routerLink="/vital-signs" routerLinkActive="active-menu-item"
                        *ngIf="featureToggling.status.clinicalResults" queryParamsHandling="merge">
                        <img src="../../../assets/svg/stethscope.svg">
                        <span>Vital Signs</span>
                    </button>
                    <div class="divider"></div>
                    <button mat-button routerLink="/lab-results" routerLinkActive="active-menu-item"
                        *ngIf="featureToggling.status.labResults" queryParamsHandling="merge">
                        <img src="../../../assets/svg/beaker.svg">
                        <span>Lab Results</span>
                    </button>
                </div>
            </mat-toolbar>
        </footer>

    </mat-sidenav-content>

</mat-sidenav-container>