mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100vh; /*Component content fills entire verticle space*/
}

mat-sidenav {
    width: 40vw; /*Width sidenav takes up when open*/
}

.header {
    margin-bottom: 8px; /*Leave space at bottom of toolbar so elevation shadow effect will show*/
}

/*component content area*/
.container {
    height: 100vh; /*Component content fills entire verticle*/
    overflow: auto; /*Keeps header from scrolling away*/
    padding: 0px 20px 10px 20px; /*Component content padding around edges*/
    padding-top: 0px;
}

.center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border: 5px solid #5f85db;
    padding: 10px;
}

.mobile-only-message {
    text-align: center;
    width: 400px;
    padding: 10px;
    background: #5f85db;
    color: #fff;
    font-weight: bold;
    font-family: Tahoma;
}

.footer {
    span {
        padding-left: 5px;
    }
    button.mat-button {
        width: 50%;
        height: 53px;
    }

    .divider {
        width: 1px;
        height: 33px;
        background-color: #939393;
    }
}
