<ul class="goals-items">
    <li *ngFor="let goal of filteredGoals$ | async">
        <div class="goals-item">
            <h3 class="goals-title">{{ goal.description }}</h3>
            <ul>
                <li>
                    Treatment in case of kidney failure: Transplant
                </li>
                <li>
                    Type of donor kidney: Deceased
                </li>
                <li>
                    Preferred dialysis if required:
                </li>
            </ul>
        </div>
    </li>
</ul>