<div class="lab-graph-chart" [ngClass]="{'alt': !embedded}">
    <canvas baseChart [datasets]="bpService.vitalSigns.chartData" [labels]="lineChartLabels"
        [options]="bpService.vitalSigns.lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
        [chartType]="lineChartType">
    </canvas>
</div>
<div class="lab-graph-table" [ngClass]="{'hidden':  !(showTable && tableReady)}">
    <table mat-table matSort [dataSource]="tableDataSource" width="100%">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let vs"> {{vs.date | date: 'MM/dd/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="systolic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Systolic</th>
            <td mat-cell *matCellDef="let vs"> {{vs.systolic}} </td>
        </ng-container>
        <ng-container matColumnDef="diastolic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Diastolic</th>
            <td mat-cell *matCellDef="let vs"> {{vs.diastolic}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons
        [ngClass]="{'hidden':  !(tableDataSource.filteredData.length > 5)}"></mat-paginator>
</div>