/*footer fixed at bottom of page*/
footer {
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
    height: 50px;
}

.toolbar-icon {
    line-height: 0;     /*Set to zero or will affect spacing between icon and text*/
}

.toolbar-icon-text {
    line-height: 1.8;   /*Proper spacing between icon and text*/
    font-size: 70%;     /*Smaller text size for proper display under icon*/
}

.active-menu-item {
    color: blue;
}


