<div class="container">
    <h2>
        <img src="../../../assets/svg/twopeople_blue.svg">
        My Profile & Care Team
    </h2>
    <div fxLayout="column" fxLayoutAlign="center">
        <div class="container">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="My Care Team">
                    <app-careteam-caretab displayFilter="careteam"></app-careteam-caretab>
                </mat-tab>
                <mat-tab label="My Profile">
                    <app-careteam-caretab displayFilter="profile"></app-careteam-caretab>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>


