<div class="careteam-container">
    <div class="careteam-header">
        <mat-icon svgIcon="icons:twopeople_blue"></mat-icon>
        My Profile & Care Team
    </div>
    <div class="careteam-content">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="My Care Team">
                <app-careteam-caretab displayFilter="careteam"></app-careteam-caretab>
            </mat-tab>
            <mat-tab label="My Profile">
                <app-careteam-caretab displayFilter="profile"></app-careteam-caretab>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>


