.care-team-container>h2>img {
    height: 30px;
    float: left;
    padding-right: 10px;
}

/*th, td {*/
/*    padding: 5px;*/
/*}*/
/*component content area*/
.container {
    height: 100vh; /*Component content fills entire verticle*/
    overflow: auto; /*Keeps header from scrolling away*/
    padding: 10px; /*Component content padding around edges*/
    /* margin-bottom: 50px; /*Matches height of footer so can see all content when scrolling to bottom*/
}


/* Styles for tab labels */
.mat-tab-label {
    min-width: 50px !important;
    padding: 5px;
    background-color: transparent;
    border-color: lightblue;
    color: black;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: lightblue;
    border-color: lightblue;
    color: blue;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: pink;
}

p {
    font-family: Lato;
}

