<div class="health-status-page">
    <!-- Health Status Icon and Title-->
    <div class="health-status-header">
        <h2>
            <img src="../../../assets/svg/clipboard_blue.svg" />
            Health Status
        </h2>
    </div>
    <!-- Health Status Blue Link Box (Diabetes etc.)-->
    <div class="health-status-link-box">
        <select class="mat-raised-button" (change)="chronicConditionSelected($event.target.value)" *ngIf="!noActiveCarePlan"
            aria-label="Link to Chronic Condition Hub">
            <option value='-1' *ngIf="!(ddlConditions$ | async)">Loading...</option>
            <option *ngFor="let item of ddlConditions$ | async; index as i" [value]="i">{{item.code.text}}</option>
        </select>
        <select class="mat-raised-button" *ngIf="noActiveCarePlan">
            <option>No Active CarePlan</option>
        </select>
    </div>
    <div class="graphs">
        <div *ngIf="!noActiveCarePlan && getEGFRisLoaded()" class="graph-wrapper s-col-1 m-col-2 l-col-3" style="cursor: auto;">
            <div class="graph-wrapper-inner">
                <div routerLink="/lab-graph" [queryParams]="{key:'egfr'}" queryParamsHandling="merge"
                    style="cursor: pointer;">
                    <span style="margin: 0;">
                        EGFR
                    </span>
                </div>
                <egfr-graph [showTable]="false" [embedded]="true"></egfr-graph>
            </div>
        </div>
        <div *ngIf="!noActiveCarePlan && getUACRisLoaded()" class="graph-wrapper s-col-1 m-col-2 l-col-3" routerLink="/lab-graph" [queryParams]="{key:'uacr'}"
            queryParamsHandling="merge">
            <div class="graph-wrapper-inner">
                <div>
                    <span>
                        UACR
                    </span>
                </div>
                <uacr-graph [showTable]="false" [embedded]="true"></uacr-graph>
            </div>
        </div>
        <div class="graph-wrapper s-col-1 m-col-2 l-col-3" routerLink="/lab-graph" [queryParams]="{key:'bp'}"
            queryParamsHandling="merge">
            <div class="graph-wrapper-inner">
                <div>
                    <span>
                        Blood Pressure
                    </span>
                </div>
                <bp-graph [showTable]="false" [embedded]="true"></bp-graph>
            </div>
        </div>
        <div class="graph-wrapper s-col-1 m-col-2 l-col-3" routerLink="/lab-graph" [queryParams]="{key:'weight'}"
            queryParamsHandling="merge">
            <div class="graph-wrapper-inner">
                <div>
                    <span>
                        Weight
                    </span>
                </div>
                <weight-graph [showTable]="false" [embedded]="true"></weight-graph>
            </div>
        </div>
    </div>
</div>