#health-status-title, #health-status-link-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#health-status-icon {
    padding-right: 5px;
}

#health-status-link-box button {
    flex-grow: 1;
    background-color: #409FFF;
    border-radius: 5px;
    padding: 2px;
}

#health-status-link-box select {
    flex-grow: 1;
    background-color: #409FFF;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    text-align-last: center;
}

#health-status-link-box option {
    color: rgb(72, 161, 255);
    background-color: white;
    text-align-last: center;
}

#key-information-and-buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#key-information {
    width: 66%;
}

#key-information ul {
    list-style: none;
    padding-top: 10px;
    max-height: 500px;
    overflow: auto;
    background-color: #F1F9FF;
    margin-right: 15px;
    padding-left: 20px;
}

#key-information li {
    padding: 10px 0;
}

#buttons {
    width: 33%;
}

#buttons ul {
    list-style: none;
    padding-left: 0;
}

#buttons li {
    padding-bottom: 25px;
    height: 50px;
    position: relative;
}

#buttons li button {
    font-size: 1em;
    background-color: #F1F9FF;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    white-space: pre-wrap !important;
    line-height: 1.25em;
    padding-left: 10px;
    padding-right: 5px;
}

#buttons li button img {
    float: left;
    height: auto;
    width: 25px;
    margin: 12px 0;
}

#buttons li button span {
    font-size: .9em;
    display: block;
    margin: 4px 0;
}

#buttons li:nth-child(4) button span, #buttons li:nth-child(5) button span, #buttons li:nth-child(6) button span {
    font-size: .8em;
}

.number-circle {
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 1px;
    background: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    color: white;
    text-align: center;
    font: 12px Arial, sans-serif;
    vertical-align: middle;
}

.lab-results-container>h2>img {
    height: 30px;
    float: left;
    padding-right: 10px;
}

ul.lab-result-items {
    list-style-type: none;
    padding: 0;
}

ul.lab-result-items li {
    background-color: #F1F9FF;
    position: relative;
    height: 90px;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}

ul.lab-result-items li h3 {
    margin: 0;
}

ul.lab-result-items li>div {
    padding: 15px;
    padding-top: 12px;
}

ul.lab-result-items li .lab-result-title {
    font-weight: 500;
    padding-bottom: 5px;
}

ul.lab-result-items li .lab-result-details {
    color: #409FFF;
    clear: both;
    float: left;
    font-size: .8em;
}

ul.lab-result-items li .lab-result-more-icon {
    position: absolute;
    right: 20px;
    top: 35%;
    color: #409FFF;
    font-size: 1.5em;
}

ul.lab-result-items li .lab-result-details-1 {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: .8em;
}

.lab-graph { 
    padding: 30px;
}

.lab-graph .lab-graph-header { 
    position: relative;
    padding-bottom: 15px;
}

.lab-graph .lab-graph-header h2 { 
    text-align: center;
    margin-bottom: 5px;
}
.lab-graph .lab-graph-header h4 { 
    margin: 10px 0;
}

.lab-graph .lab-graph-header img.back-arrow { 
    position: absolute;
    top: 3px;
    left: -20px;
}

.lab-graph .lab-graph-header img.info { 
    position: absolute;
    top: 3px;
    right: -20px;
}