<!-- Health Status Icon and Title-->
<div id="health-status-title">
    <h2>
        <mat-icon id="health-status-icon" svgIcon="icons:clipboard_blue"></mat-icon>
        <span>Health Status</span>
    </h2>
</div>
<!-- Health Status Blue Link Box (Diabetes etc.)-->
<div id="health-status-link-box">
    <button mat-raised-button color="primary" aria-label="Link to Chronic Condition Hub">
        Diabetes View
    </button>
</div>
<!-- List of Key Information -->
<div id="key-information-and-buttons">
    <div id="key-information">
        <ul>
            <li>
                Key Information 1
            </li>
            <li>
                Key Information 2
            </li>
            <li>
                Key Information 3
            </li>
            <li>
                Key Information 4
            </li>
            <li>
                Secondary Information
            </li>
            <li>
                Secondary Information
            </li>
            <li>
                Secondary Information
            </li>
            <li>
                Secondary Information
            </li>
            <li>
                Secondary Information
            </li>
            <li>
                Secondary Information
            </li>
            <li>
                Tertiary Information
            </li>
            <li>
                Tertiary Information
            </li>
            <li>
                Tertiary Information
            </li>
        </ul>
    </div>
    <div id="buttons">
        <ul>
            <li>
                <button mat-raised-button>
                    <mat-icon id="health-status-icon" svgIcon="icons:stethscope"></mat-icon>
                    <span>Vital Signs</span>
                </button>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon id="health-status-icon" svgIcon="icons:stethscope"></mat-icon>
                    <span>Lab Results</span>
                </button>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon id="health-status-icon" svgIcon="icons:stethscope"></mat-icon>
                    <span>Vital Signs</span>
                </button>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon id="health-status-icon" svgIcon="icons:stethscope"></mat-icon>
                    <span>Vital Signs</span>
                </button>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon id="health-status-icon" svgIcon="icons:stethscope"></mat-icon>
                    <span>Vital Signs</span>
                </button>
            </li>
            <li>
                <button mat-raised-button>
                    <mat-icon id="health-status-icon" svgIcon="icons:stethscope"></mat-icon>
                    <span>Vital Signs</span>
                </button>
            </li>
        </ul>
    </div>
</div>