<div *ngIf="displayContent">
    <!-- Health Status Icon and Title-->
    <div id="health-status-title">
        <h2>
            <mat-icon id="health-status-icon" svgIcon="icons:clipboard_blue"></mat-icon>
            <span>Health Status</span>
        </h2>
    </div>
    <!-- Health Status Blue Link Box (Diabetes etc.)-->
    <div id="health-status-link-box">
        <select class="mat-raised-button" (change)=""
            aria-label="Link to Chronic Condition Hub">
            <option *ngFor="let item of conditionLists.activeConditions; index as i" [value]="i">{{item.code.text}}</option>
        </select>
    </div>
    <!-- List of Key Information -->
    <div id="key-information-and-buttons">
        <div id="key-information">
            <ul>
                <li>
                    Key Information 1
                </li>
                <li>
                    Key Information 2
                </li>
                <li>
                    Key Information 3
                </li>
                <li>
                    Key Information 4
                </li>
                <li>
                    Secondary Information
                </li>
                <li>
                    Secondary Information
                </li>
                <li>
                    Secondary Information
                </li>
                <li>
                    Secondary Information
                </li>
                <li>
                    Secondary Information
                </li>
                <li>
                    Secondary Information
                </li>
                <li>
                    Tertiary Information
                </li>
                <li>
                    Tertiary Information
                </li>
                <li>
                    Tertiary Information
                </li>
            </ul>
        </div>
        <div id="buttons">
            <ul>
                <li>
                    <button class="mat-raised-button">
                        <img src="../../../assets/svg/stethscope.svg">
                        <span>Vital Signs</span>
                    </button>
                </li>
                <li>
                    <button class="mat-raised-button" routerLink="/lab-results">
                        <img src="../../../assets/svg/beaker.svg">
                        <span>Lab Results</span>
                        <div class="number-circle">2</div>
                    </button>
                </li>
                <li>
                    <button class="mat-raised-button">
                        <img src="../../../assets/svg/checklist.svg">
                        <span>Clinical Exams</span>
                    </button>
                </li>
                <li>
                    <button class="mat-raised-button">
                        <img src="../../../assets/svg/microscope.svg">
                        <span>Pathology/ Radiology</span>
                    </button>
                </li>
                <li>
                    <button class="mat-raised-button">
                        <img src="../../../assets/svg/black-circle.svg">
                        <span>Procedure/ Devices</span>
                    </button>
                </li>
                <li>
                    <button class="mat-raised-button">
                        <img src="../../../assets/svg/black-circle.svg">
                        <span>My Reported Outcomes</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>