#health-status-title, #health-status-link-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#health-status-icon {
    padding-right: 5px;
}

#health-status-link-box button {
    flex-grow: 1;
    background-color: rgb(72, 161, 255);
    border-radius: 5px;
    padding: 2px;
}

#key-information-and-buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#key-information {
    width: 66%;
}

#key-information ul {
    list-style: none;
    padding-top: 10px;
    max-height: 500px;
    overflow: auto;
    background-color: rgba(162, 207, 255, 0.561);
    margin-right: 15px;
    padding-left: 20px;
}

#key-information li {
    padding: 10px 0;
}

#buttons {
    width: 33%;
}

#buttons ul {
    list-style: none;
    padding-left: 0;
}

#buttons li {
    padding-bottom: 25px;
    height: 50px;
}

#buttons li button {
    font-size: 1em;
    background-color: rgba(162, 207, 255, 0.561);
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    white-space: pre-wrap !important;
    line-height: 1.25em;
    padding-left: 10px;
    padding-right: 5px;
}

#buttons li button img {
    float: left;
    height: auto;
    width: 25px;
    margin: 12px 0;
}

#buttons li button span {
    font-size: .9em;
    display: block;
    margin: 4px 0;
}

#buttons li:nth-child(4) button span, #buttons li:nth-child(5) button span, #buttons li:nth-child(6) button span {
    font-size: .8em;
}

@media only screen and (min-width: 570px) {
    #buttons li:last-child button span {
        width: 100px;
    }
}