<div class="health-container">
    <div class="health-header">
        <h2>
            <img class="health-title-icon" src="../../../assets/svg/heart_blue.svg">
            Health Concerns
        </h2>
    </div>
    <div class="health-tabs">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Health Concerns">
                <app-health-tab displayFilter="health"></app-health-tab>
            </mat-tab>
            <mat-tab label="Social Concerns">
                <app-health-tab displayFilter="social"></app-health-tab>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>