.health-container {
    .health-header {
        position: relative;
        text-align: center;

        h2 {
            margin-bottom: 10px;
        }

        .health-title-icon {
            height: 25px;
            margin-bottom: -4px;
        }
    }
}
