<div class="lab-graph-chart" *ngIf="tableReady">
    <canvas baseChart [datasets]="chart" [chartType]="'line'">
    </canvas>

</div>
<div class="lab-graph-table">
    <table width="100%">
        <thead style="text-align:center;">
            <tr>
                <th (click)="sortData('value')" class="{{sortedField=='value' ? 'sorting' : ''}}">Value</th>
                <th (click)="sortData('date')" class="{{sortedField=='date' ? 'sorting' : ''}}">Date</th>
            </tr>
        </thead>
        <tbody style="text-align:right;">
            <tr *ngFor="let item of data">
                <td class="{{sortedField=='value' ? 'sorting' : ''}}">
                    {{item.displayValue}}
                </td>
                <td class="{{sortedField=='date' ? 'sorting' : ''}}">
                    {{item.date.toDateString()}}
                </td>
            </tr>
        </tbody>
    </table>
</div>